/* Acá va tu código */
body { 
  display: block;
  text-align: center;
  center
  background-image: url("../src/img/flores.jpg");
} 

.titular {
  background-color: #AAC2C9;
  display: inline-block; /*tipo de caja: en linea y por bloque */
  width: 1325px;  /*ancho de caja */
  padding: 7px;  /*relleno, espacio libre entre contenido */
  margin: 5px;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.bajada {
  background-color: rgb(249, 251, 253);
  display: inline-block;
  width: 1325px; 
  padding: 7px;
  margin: 5px;
  text-align: center;
  color: #AAC2C9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 
#instrucciones {
  text-align: center;
}

#button-inst {
  color: rgb(152, 182, 190);
  padding: 10px;  
  margin: 10px;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

#puntos {
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #AAC2C9;
  margin: 10px;
}
