/* Acá va tu código */
 body { 
    background-image: url("../src/img/flores.jpg");
  
  } 

  .titular {
    background-color: #AAC2C9;
    display: inline-block; /*tipo de caja: en linea y por bloque */
    width: 1280px;  /*ancho de caja */
    padding: 25px;  /*relleno, espacio libre entre contenido */
    margin: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
  }

  .bajada {
    background-color: rgb(249, 251, 253);
    display: inline-block;
    width: 1280px; 
    padding: 25px;
    margin: 5px 10px;
    text-align: center;
    color: #AAC2C9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #instrucciones {
    text-align: center;
   }
  
   #button-brb {
    color: rgb(152, 182, 190);
    padding: 10px;  
    margin: 10px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
   }

   #puntos {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #AAC2C9;
    margin: 10px;
   }

   #password {
    text-align: center;
    color: white;
    padding-top: 2px;
    padding-bottom: 20px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: #AAC2C9;
  }

   .cuadro-uno{
    color: white;
    text-align: left;
    padding : 20px;
    padding-bottom: 50px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #send-uno {
    color: rgb(27, 182, 135); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    position: absolute;
   }

   #input-textuno {
    background-color: rgb(248, 243, 166);
   }

  .cuadro-dos{
    color: white;
    text-align: left;
    padding : 20px;
    padding-bottom: 50px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #input-txtdos {
    background-color: rgb(248,243,166);
   }